<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="swiper-7.2.0/swiper/swiper-bundle.min.css"/>
    <script src="bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="swiper-7.2.0/swiper/swiper-bundle.min.js"></script>
    <script src="js/jquery.zlight.menu.1.0.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="container main" id="app">
        <!-- 头部信息 -->
        <div class="container top-desc">
             <h4 class="text"><span class="title-one">INDIEGOGO</span> <span>On Spring,2022</span></h3>
        </div>
        <!-- null -->
        <div class="container content">
            
         <div class="container top-desc2">
            <ul class="left">
                <li class="text"><span class="glyphicon glyphicon-gift"></span>2 Year Warranty</li>
                <li class="text"><span class="glyphicon glyphicon-refresh"></span>15 Days Retuens</li>
            </ul>

            <ul class="right">
                <li>EN<span class="glyphicon glyphicon-triangle-bottom"></span></li>
                <li class="text">Contact Us</li>
            </ul>
         </div>
       </div>
       <!-- 主导航 -->
       <div class="container content nav-box">

        <ul class="container navs" >
            <li class="logo"><img src="images/logo.png"/></li>
            <li class="nav-item text">
                <p class="title-name">SHOPEBIKES ></p>
                <!-- 菜单1 -->
                <div class="container item content">
                  <ul class="container shop-ebikes">
                    <li class="text-meun">
                        <ul class="container">
                            <li class="text">All Ebikes ></li>
                            <li class="text">C3STROM ASTRO ></li>
                            <li class="text">C3STROM X1 ></li>
                            <li class="text">Compare Models ></li>
                        </ul>
                    </li>

                    <li class="image-meun">
                        <ul class="container">
                            <li><img src="images/导航栏素材/导航栏素材-车子.png"/></li>
                            <li><img src="images/导航栏素材/导航栏素材-车子.png"/></li>
                        </ul>
                    </li>

                    <li class="other-meun">
                        <ul class="container">
                            <li>
                                <img src="images/导航栏素材/导航栏素材-图标1.png"/>
                                <p class="title text">WHY CHOOSE US?</p>
                                <a class="more text">MORE</a>
                            </li>
                            <li>
                                <img src="images/导航栏素材/导航栏素材-图标2.png"/>
                                <p class="title text">ABOUT OUR SHIPING</p>
                                <a class="more text">START HERE</a>
                            </li>
                            <li>
                                <img src="images/导航栏素材/导航栏素材-图标3.png"/>
                                <p class="title text">COMPARE ESIKES</p>
                                <a class="more text">GO</a>
                            </li>
                        </ul>
                      </li>
                    <li>
                    </li>
                </ul>
                </div>
            </li>
            <li class="nav-item text">
                <p class="title-name">ACCESSORIES ></p>
                <!-- 下拉菜单 -->
                <div class="container item content">
                    <ul class="container accessories">
                        <li class="container text-meun">
                            <ul class="container">
                                <li class="text">All Accessories ></li>
                                <li class="text">Derivatives ></li>
                                <li class="text">Hardware ></li>
                                <li class="text">Gift Card ></li>
                            </ul>
                        </li>
    
                        <li class="container image-meun">
                            <ul class="container left">
                                 <li class="container">
                                     <div class="container img-box">
                                          <img src="images/导航栏素材/配件驮包1.png"/>
                                     </div>
                                     <div class="container info-box">
                                         <p class="name">BAG</h1>
                                         <p class="desc">C3STROM ASTRO</p>
                                         <p class="price">$23</p>
                                     </div>
                                 </li>
     
                                 <li class="container">
                                    <div class="container img-box">
                                         <img src="images/导航栏素材/配件后衣架3.png"/>
                                    </div>
                                    <div class="container info-box">
                                        <p class="name">BAG</h1>
                                        <p class="desc">C3STROM ASTRO</p>
                                        <p class="price">$23</p>
                                    </div>
                                </li>
    
                            </ul>
                            <ul class="container right">
                                <li class="container">
                                    <div class="container img-box">
                                         <img src="images/导航栏素材/配件头盔4.png"/>
                                    </div>
                                    <div class="container info-box">
                                        <p class="name">BAG</h1>
                                        <p class="desc">C3STROM ASTRO</p>
                                        <p class="price">$23</p>
                                    </div>
                                </li>
    
                                <li class="container">
                                   <div class="container img-box">
                                        <img src="images/导航栏素材/配件手机支架2.png"/>
                                   </div>
                                   <div class="container info-box">
                                       <p class="name">BAG</h1>
                                       <p class="desc">C3STROM ASTRO</p>
                                       <p class="price">$23</p>
                                   </div>
                               </li>
    
                           </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item text">
                <p class="title-name">COMMUNITY ></p>
                <div class="container item content">
                    <ul class="container community">
                        <ul class="container">
                            <li><img src="images/导航栏素材/导航栏素材-icon1.png"/>BLOGS</li>
                            <li><img src="images/导航栏素材/导航栏素材-icon2.png"/>VIDEOS</li>
                            <li><img src="images/导航栏素材/导航栏素材-icon4.png"/>PRESS</li>
                            <li><img src="images/导航栏素材/导航栏素材-icon3.png"/>REVIEW</li>
                            <li><img src="images/导航栏素材/导航栏素材-icon5.png"/>PHOTOS</li>
                        </ul>
                      </ul>
                </div>
            </li>
            <li class="nav-item text">SUPPORT ></li>
        </ul>
        
        <div class="container nav-right">
            <i class="fa fa-search" aria-hidden="true"></i>
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
       </div>

       <!-- 轮播图 -->
       <div class="container banner-box floor">
           <!-- 轮播1 -->
        <div class="container content info-item banner-1">
            <h3 class="info-1 text">Stay Tuned.the C3STROM X1</h3>
            <h1 class="info-2 text">INDIEGOGO <span>C3STROM</span></h1>
            <ul class="container info-3">
                <li>
                    <p class="day">30</p>
                    <p>DAY</p>
                </li>
                <li>:</li>
                <li>
                    <p class="hour">00</p>
                    <p>HOUR</p>
                </li>
                <li>:</li>
                <li>
                    <p class="minute">00</p>
                    <p>MINUTE</p>
                </li>
                <li>:</li>
                <li>
                    <p class="second">00</p>
                    <p>SECOND</p>
                </li>
            </ul>
            <p class="info-5 text">Our very frist electric motorbike is set to<br>take you ride to freedom</p>
            </div>

        <!-- 滑动菜单 -->
        <ul class="left-meun"> 
            <li  v-for="(item,index) in banner.navs" :class="index==banner.active_index?'active':''" @click="leftNavsChange(index,1)">
                <a>{{item.name}}</a>
            </li>            
            <li>
                <div></div>
            </li>
        </ul>
       </div>

       <!-- 介绍1 -->
       <div class="container intrdoce-one info-item floor">
        <div class="container content">
        <ul class="left-meun"> 
            <li  v-for="(item,index) in banner.navs" :class="index==banner.active_index?'active':''" @click="leftNavsChange(index,1)">
                <a>{{item.name}}</a>
            </li>      

            <li>
                <div></div>
            </li>
        </ul>
        <ul class="container img-banner">
            <li class="container item swiper car-left-swiper">
                    <span class="car-left-pre glyphicon glyphicon-chevron-left"></span>
                    <span class="car-left-next glyphicon glyphicon-chevron-right"></span>
                    <ul class="container swiper-wrapper">
                    <li class="swiper-slide">
                    <div class="container img-box">
                     <img src="images/车子右.png"/>
                     <h4 class="text">
                      For riders 160cm-190cm
                      <div class="line"></div>
                     </h4>
                     </div>

                     <div class="container info">
                     <div class="container one-info">
                     <h4>C3STROM</h4>

                     <ul class="container">
                     <li class="active"><div class="center"></div></li>
                     <li><div class="center"></div></li>
                     <li><div class="center"></div></li>
                     </ul>
                     </div>
                <h4 class="desc text">Total lenght 190cm</h4>
                <a class="explore" style="margin-bottom: 1rem;">Explore</a>
                </div>
                    </li>

                    <li class="swiper-slide">
                        <div class="container img-box">
                         <img src="images/车子右.png"/>
                         <h4 class="text">
                          For riders 160cm-190cm
                          <div class="line"></div>
                         </h4>
                         </div>
    
                         <div class="container info">
                         <div class="container one-info">
                         <h4>C3STROM</h4>
    
                         <ul class="container">
                         <li class="active"><div class="center"></div></li>
                         <li><div class="center"></div></li>
                         <li><div class="center"></div></li>
                         </ul>
                         </div>
                    <h4 class="desc text">Total lenght 190cm</h4>
                    <a class="explore" style="margin-bottom: 1rem;">Explore</a>
                    </div>
                        </li>

                </ul>

            </li>
            <li class="container item swiper car-right-swiper">
                <span class="car-right-pre glyphicon glyphicon-chevron-left"></span>
                <span class="car-right-next glyphicon glyphicon-chevron-right"></span>
                <ul class="container swiper-wrapper">
                <li class="swiper-slide">
                <div class="container img-box">
                 <img src="images/车子右.png"/>
                 <h4>
                  For riders 160cm-190cm
                  <div class="line"></div>
                 </h4>
                 </div>

                 <div class="container info">
                 <div class="container one-info">
                 <h4>C3STROM</h4>

                 <ul class="container">
                 <li class="active"><div class="center"></div></li>
                 <li><div class="center"></div></li>
                 <li><div class="center"></div></li>
                 </ul>
                 </div>
            <h4 class="desc">Total lenght 190cm</h4>
            <a class="explore" style="margin-bottom: 1rem;">Explore</a>
            </div>
                </li>

                <li class="swiper-slide">
                    <div class="container img-box">
                     <img src="images/车子右.png"/>
                     <h4>
                      For riders 160cm-190cm
                      <div class="line"></div>
                     </h4>
                     </div>

                     <div class="container info">
                     <div class="container one-info">
                     <h4>C3STROM</h4>

                     <ul class="container">
                     <li class="active"><div class="center"></div></li>
                     <li><div class="center"></div></li>
                     <li><div class="center"></div></li>
                     </ul>
                     </div>
                <h4 class="desc">Total lenght 190cm</h4>
                <a class="explore" style="margin-bottom: 1rem;">Explore</a>
                </div>
                    </li>

            </ul>
              </li>
        </ul>
        </div>
       </div>
       <!-- 视频 -->
       <div class="container intrdoce-video info-item floor">
            <!-- <div class="play-box"></div> -->
            <video class="video" muted src="video/demo.mp4" loop></video>
            <img class="play" src="images/视频播放键.png" @click="handlePlay"/>
       </div>

      <!-- 信息框 -->
       <div class="container intrdoce-three info-item floor">
        <div class="container swiper three-swiper">
            <h4 class="title module text">See far,See Wide.See clear.</h4>
            <h1 class="title module text">C3STROM'S APP</h1>
            <img class="qrcode module" src="images/icon/二维码.png"/>
          <ul class="container swiper-wrapper">
            <li class="swiper-slide"><img src="images/app/1.png"/></li>
            <li class="swiper-slide"><img src="images/app/2.png"/></li>
            <li class="swiper-slide"><img src="images/app/3.png"/></li>
            <li class="swiper-slide"><img src="images/app/4.png"/></li>
            <li class="swiper-slide"><img src="images/app/5.png"/></li>
            <li class="swiper-slide"><img src="images/app/6.png"/></li>
            <li class="swiper-slide"><img src="images/app/1.png"/></li>
          </ul>


        </div>
       </div>

       <!-- 信息框 -->
       <div class="container intrdoce-four info-item floor">
        <div class="container content">
            <div class="container top">
                <ul class="left-meun"> 
                    <li  v-for="(item,index) in banner.navs" :class="index==banner.active_index?'active':''" @click="leftNavsChange(index,1)">
                        <a>{{item.name}}</a>
                    </li>      
        
                    <li>
                        <div></div>
                    </li>
                </ul>
                <ul class="info-box">
                    <li class="last">
                        <div class="container left item">
                             <span class="glyphicon glyphicon-chevron-up"></span>
                             <span class="glyphicon glyphicon-chevron-down"></span>
                        </div>
                        <div class="container right item swiper four-swiper">
                            <ul class="container swiper-wrapper">

                                <li class="swiper-slide img-left">
                                    <img src="images/app/头像1.png"/>
                                    <div class="container info">
                                        <p class="text">MENCSHEN LV</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                </li>

                                <li class="swiper-slide img-right">
                                    <div class="container info">
                                        <p class="text">KUANCYEXIAO YEZHU</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/app/头像2.png"/>
                                </li>

                                <li class="swiper-slide img-left">
                                    <img src="images/app/头像3.png"/>
                                    <div class="container info">
                                        <p class="text">MENCSHEN LV</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                </li>

                                <li class="swiper-slide img-right">
                                    <div class="container info">
                                        <p class="text">KUANCYEXIAO YEZHU</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/app/头像4.png"/>
                                </li>

                                <li class="swiper-slide img-left">
                                    <img src="images/app/头像2.png"/>
                                    <div class="container info">
                                        <p class="text">MENCSHEN LV</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                </li>

                                <li class="swiper-slide img-right">
                                    <div class="container info">
                                        <p class="text">KUANCYEXIAO YEZHU</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/app/头像4.png"/>
                                </li>

                                <li class="swiper-slide img-left">
                                    <img src="images/app/头像1.png"/>
                                    <div class="container info">
                                        <p class="text">MENCSHEN LV</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                </li>

                                <li class="swiper-slide img-right">
                                    <div class="container info">
                                        <p class="text">KUANCYEXIAO YEZHU</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/app/头像1.png"/>
                                </li>

                                <li class="swiper-slide img-left">
                                    <img src="images/app/头像1.png"/>
                                    <div class="container info">
                                        <p class="text">MENCSHEN LV</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                </li>

                                <li class="swiper-slide img-right">
                                    <div class="container info">
                                        <p class="text">KUANCYEXIAO YEZHU</p>
                                        <p class="text">www.cksalhfuih.dsfnoanlfh</p>
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div>
                                    <img src="images/app/头像1.png"/>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="frist">
                      <h1 class="item module text">KOL<br>RERIVEW</h1>
                      <h4 class="item module">See farther,see more clearly,see wider,and be safer.See farther,see more clearly,see wider,and be safer.</h4>
                      <a class="item explore module">View More</a>
                    </li>
                </ul>
            </div>

             <div class="container down swiper text-swiper">
              <span class="text-left glyphicon glyphicon-chevron-left"></span>
                <ul class="container swiper-wrapper">
                    <li class="swiper-slide">
                        <ul>
                            <li>Forbes</li>
                            <li>electrek</li>
                            <li>EBR</li>
                        </ul>
                    </li>
                    <li class="swiper-slide">
                        <ul>
                            <li>Forbes</li>
                            <li>electrek</li>
                            <li>EBR</li>
                        </ul>
                    </li>
                </ul>
              <span class="text-right glyphicon glyphicon-chevron-right"></span>
     
        </div>

        </div>
       </div>
      <!-- 信息框 -->
       <div class="container intrdoce-five info-item floor">
        <div class="container content">
            <div class="container top">
                <ul class="left-meun"> 
                    <li  v-for="(item,index) in banner.navs" :class="index==banner.active_index?'active':''" @click="leftNavsChange(index,1)">
                        <a>{{item.name}}</a>
                    </li>      
        
                    <li>
                        <div></div>
                    </li>
                </ul>
                <h1 class="title module text">Blogs</h1>
                <h4 class="title-desc module">There's more to using our e-bikes than just the specs. Our dedicated team have crafted a collection of articles so that you can get the most out of your C3STROM bike.Here we cover everything in the world of electric biking.from bike safely to trip ideas.</h4>
                <div class="container">
                <ul class="container slides">
                    <li class="module">
                        <img src="images/app/ins图片1.png"/>
                        <div class="info">
                             <h3 class="">KNOWLEDGE <span>DEC 5,2021</span></h3>
                             <h2 class="text">How to Choose the Best</h2>
                             <h4 class="">See farther,see more clearly,see wider,and be safer.See farther,see more clearly,see wider,and be safer.</h4>
                        </div>

                    </li>
                    <li class="module">
                        <img src="images/app/ins图片2.png"/>
                        <div class="info">
                            <h3 class="">KNOWLEDGE <span>DEC 5,2021</span></h3>
                            <h2 class="text">How to Choose the Best</h2>
                            <h4 class="">See farther,see more clearly,see wider,and be safer.See farther,see more clearly,see wider,and be safer.</h4>
                       </div>
                    </li>
                    <li class="module">
                        <img src="images/app/ins图片3.png"/>
                        <div class="info">
                            <h3 class="">KNOWLEDGE <span>DEC 5,2021</span></h3>
                            <h2 class="text">How to Choose the Best</h2>
                            <h4 class="">See farther,see more clearly,see wider,and be safer.See farther,see more clearly,see wider,and be safer.</h4>
                       </div>
                    </li>
                    
                </ul>
                <a class="explore">View More</a>
            </div>
                
            </div>

        </div>
       </div>
<!-- 信息框 -->
       <!-- <div class="container intrdoce-six info-item">
            <div class="container content swiper six-swiper">
                <h3 class="title module"><i class="fa fa-instagram" aria-hidden="true"></i>See more <a>@C3STROM</a></h3>
                
                <ul class="container swiper-wrapper">
                    <li class="swiper-slide">
                        <ul class="container">
                            <li class="container"><img src="images/app/ins图片1.png"/></li>
                            <li class="container"><img src="images/app/ins图片2.png"/></li>
                            <li class="container"><img src="images/app/ins图片3.png"/></li>
                            <li class="container"><img src="images/app/ins图片4.png"/></li>
                            <li class="container"><img src="images/app/ins图片5.png"/></li>
                            <li class="container"><img src="images/app/ins图片6.png"/></li>
                        </ul>
                    </li>
                    <li class="swiper-slide">
                        <ul class="container">
                            <li class="container"><img src="images/app/ins图片1.png"/></li>
                            <li class="container"><img src="images/app/ins图片2.png"/></li>
                            <li class="container"><img src="images/app/ins图片3.png"/></li>
                            <li class="container"><img src="images/app/ins图片4.png"/></li>
                            <li class="container"><img src="images/app/ins图片5.png"/></li>
                            <li class="container"><img src="images/app/ins图片6.png"/></li>
                        </ul>
                    </li>
                </ul>

            </div>
       </div> -->
       <!-- 页脚 -->
       <div class="container footer">
            <div class="container top">
                <div class="container content">
                    <ul class="container module">
                        <li class="container">
                            <img src="images/icon/one.png"/>
                            <h3>2 Year Warranty</h3>
                        </li>
                        <li class="container">
                            <img src="images/icon/tow.png"/>
                            <h3>15 Days Returns</h3>
                        </li>
                        <li class="container">
                            <img src="images/icon/three.png"/>
                            <h3 class="other">
                                Download C3STROM App
                                <br>
                                <p>Order C3STROM Now</p>
                            </h3>
                        </li>
                        <img class="qrcode" src="images/icon/二维码.png" alt="">
                    </ul>
                </div>
            </div>

            <div class="container center">
                <div class="container content">
             <ul class="container PRODUCT">
                 <li><h4>PRODUCT</h4></li>
                 <li><a>C3SROM</a></li>
                 <li><a>Motor</a></li>
                 <li><a>Battery</a></li>
                 <li><a>Lights</a></li>
                 <li><a>Display</a></li>
                 <li><a>Tools</a></li>
             </ul>

             <ul class="container support">
                <li><h4>SUPPORT</h4></li>
                <li><a>Warranty</a></li>
                <li><a>Order</a></li>
                <li><a>Shipping</a></li>
                <li><a>Manuals</a></li>
                <li><a>Patment</a></li>
                <li><a>FAQs</a></li>
                <img class="icon-fire" src="images/icon2/火.png"/>
            </ul>

            <ul class="container COMPANY">
                <li><h4>COMPANY</h4></li>
                <li><a>About us</a></li>
                <li><a>Affiliate Program</a></li>
                <li><a>Rewards</a></li>
                <li><a>Become a Dealer</a></li>
                <li><a>Contact us</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Sitemap</a></li>
            </ul>

            <ul class="container NEWSLETTER">
                <li><h4>NEWSLETTER</h4></li>
                <li class="text"><a>Join Our Newsletter.Promotions.Indiegogo process and more</a></li>
                <li class="email"><img src="images/icon/信箱.png"/><input placeholder="Your email"/></li>
                <li>
                    <ul class="container">
                        <li class="text">United States</li>
                        <li>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            <i class="fa fa-glide-g" aria-hidden="true"></i>
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
            </div>

            <div class="container down">
                <div class="container content">
                    <ul class="frist">
                        <li class="text">@2022 C3STROM ALL Rights Resevred.</li>
                        <li class="text"><a>Privacy Police</a></li>
                        <li class="text"><a>Cookie Policy</a></li>
                    </ul>
                    <ul class="last">
                        <li><img src="images/icon/支付方式1.png"/></li>
                        <li><img src="images/icon/支付方式2.png"/></li>
                        <li><img src="images/icon/支付方式3.png"/></li>
                        <li><img src="images/icon/支付方式2.png"/></li>
                        <li><img src="images/icon/支付方式3.png"/></li>
                    </ul>

                </div>
            </div>
       </div>

    </div>
</body>
</html>

<script>

 var vm=new Vue({
        el:'#app',
        data:{
          banner:
          {
              navs:[
                  {
                     name:'APP'
                  },
                  {
                     name:'EXHIBIT'
                  },
                  {
                     name:'PRODUCE'
                  },
                  {
                     name:'C3STROM'
                  }
                ],
                active_index:0
          }
        },
        mounted(){

        },
        methods:{
            //倒计时
            countDown()
            {
                times=2592000;
                var timer=null;
                    timer=setInterval(function(){
                    var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值
                    if(times > 0){
                    day = Math.floor(times / (60 * 60 * 24));
                    hour = Math.floor(times / (60 * 60)) - (day * 24);
                    minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                    }
                    if (day <= 9) day = '0' + day;
                    if (hour <= 9) hour = '0' + hour;
                    if (minute <= 9) minute = '0' + minute;
                    if (second <= 9) second = '0' + second;

                    $(".day").text(day)
                    $(".hour").text(hour)
                    $(".minute").text(minute)
                    $(".second").text(second)
                    times--;
                    },1000);
                    if(times<=0){
                       clearInterval(timer);
                    }
            },
            
            /**
             * 
             * index是序号,type是类型,比如有banner广告等类型
             * */
          leftNavsChange(index,type)
          {
              this.banner.active_index=index
              switch(index)
              {
                  case 0:  //banner广告
                      this.goto(".intrdoce-one")
                      break;
                  case 1:
                      this.goto(".intrdoce-three")
                      break;
                  case 2:
                      this.goto(".intrdoce-four")
                      break;
                  case 3:
                      this.goto(".intrdoce-five")
                      break;
              }
          },
          goto(ele)  //跳转到某个元素
         {

            $("html, body").animate(
                       { scrollTop: $(ele).offset().top },
                       { duration: 500, easing: "swing" }
                   );
         },
         handlePlay()
         {
             $(".video")[0].play()
             $(".main .intrdoce-video .play").hide()
         }
        },
        created: function(){
             //启动倒计时效果
             this.countDown()

        }
    })

</script>
